@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #8888882d;
}

::-webkit-scrollbar-thumb {
	background: #888;
}
